In [1]:
# Ignore SQLITE warnings related to Decimal numbers in the housing database.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import Dependencies.
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
# Create an engine for the housing.sqlite database.
engine = create_engine("sqlite:///Resources/housing.sqlite")

In [4]:
# Reflect Database into ORM classes.
Base = automap_base()
Base.prepare(engine, reflect=True)

In [5]:
# Create a database session object.
session = Session(engine)

In [6]:
# Get the table names of the database.
inspector = inspect(engine)
inspector.get_table_names()

['listings']

In [7]:
# Get the names and types of the columns for the table listings.
columns = inspector.get_columns("listings")
for c in columns:
    print(c["name"], c["type"])

id INTEGER
address VARCHAR(255)
price INTEGER
home_type VARCHAR(255)
bedrooms INTEGER
bathrooms FLOAT
square_feet INTEGER
built INTEGER
neighborhood VARCHAR(255)
county VARCHAR(255)
city VARCHAR(255)
zipcode INTEGER
high_school VARCHAR(255)
middle_school VARCHAR(255)
elementary_school VARCHAR(255)

In [8]:
# Save a reference to the listings table as "Listings".
Listings = Base.classes.listings

In [9]:
# Count the number of entries in the listings table.
listings_count = session.query(Listings).count()
listings_count

1784

In [10]:
# Count the number of distinct home types found in the listings table.
home_types_count = session.query(Listings.home_type).distinct().count()
home_types_count
# Given the sheer number of categories, this seems a good variable to drop...

75

In [11]:
# City, county, and neighborhood would seem to be specified by zip code. Count the number of distinct zip codes.
zipcode_count = session.query(Listings.zipcode).distinct().count()
zipcode_count

33

In [12]:
# Count the number of schools for each level.
hs_count = session.query(Listings.high_school).distinct().count()
ms_count = session.query(Listings.middle_school).distinct().count()
es_count = session.query(Listings.elementary_school).distinct().count()
hs_count, ms_count, es_count
# There are an awful lot of these, these categories may need to be removed when training models...

(25, 62, 115)

In [13]:
# Close the session.
session.close()