## Setup

In [1]:
# Import Dependencies.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import requests
import json

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.models import load_model
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from joblib import dump, load

In [2]:
# Fetch the data from the API.
listings_json = requests.get("http://127.0.0.1:5000/housingDataAPI/v1.0/listings").json()

# Examine the data.
print(json.dumps(listings_json[0], indent=4, sort_keys=True))

{
    "address": "17452 NE GLISAN ST #7, Portland OR 97230",
    "bathrooms": 2.0,
    "bedrooms": 2,
    "built": 1988,
    "city": "Portland",
    "county": "Multnomah",
    "elementary_school": "Hartley",
    "high_school": "Reynolds",
    "home_type": "Manufactured - Double Wide Manufact",
    "lot_size": null,
    "middle_school": "Reynolds",
    "neighborhood": "unknown",
    "price": 72000,
    "square_feet": 1152,
    "zipcode": 97230
}

In [3]:
# Create a dataframe to use for our model.
housing_data = pd.DataFrame(listings_json)

print(len(housing_data))
housing_data.head()

2056

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode
0,"17452 NE GLISAN ST #7, Portland OR 97230",2.0,2,1988,Portland,Multnomah,Hartley,Reynolds,Manufactured - Double Wide Manufact,NaN,Reynolds,unknown,72000,1152,97230
1,"16000 SE POWELL BLVD 75, Portland OR 97236",2.0,3,1990,Portland,Multnomah,Powell Butte,Centennial,Manufactured - Double Wide Manufact,NaN,Centennial,unknown,79950,1404,97236
2,"12846 SE RAMONA ST 6, Portland OR 97236",2.0,3,1997,Portland,Multnomah,Gilbert Hts,David Douglas,Manufactured - Double Wide Manufact,NaN,Alice Ott,unknown,93900,1297,97236
3,"7720 S Macadam AVE 7, Portland OR 97219",3.0,3,1988,Portland,Multnomah,Other,Other,Floating Home - Contemporary,NaN,Other,unknown,125000,2432,97219
4,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating Home - Cabin,NaN,Reynolds,unknown,129500,735,97230

# Data Cleaning

In [4]:
# Simplify home types 
for i in housing_data.index:
    if "Floating" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Floating"
    if "Condo" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Condo"
    if "Single Family" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Single Family"
    if "Manufactured" in housing_data.at[i, "home_type"]:
        housing_data.at[i, "home_type"] = "Manufactured"
    
housing_data.home_type.unique()

array(['Manufactured', 'Floating', 'Condo', 'Single Family'], dtype=object)

In [5]:
# Print data to compare how many data points lost
print(f'Current Amount of Listings: {len(housing_data)}')

# Change lot size to 0 for floating homes and condos
for i in housing_data.index:
    if housing_data.at[i, "home_type"] == "Floating":
        housing_data.at[i, "lot_size"] = 0
    if housing_data.at[i, "home_type"] == "Condo":
        housing_data.at[i, "lot_size"] = 0

# Drop listing with null lot_size
cleaned_housing_data = housing_data.drop(housing_data[housing_data["lot_size"].isnull()].index)
      
# Print length of data
print(f'Updated Amount of Listings: {len(cleaned_housing_data)}')

Current Amount of Listings: 2056
Updated Amount of Listings: 1947

In [6]:
# Drop listings with unclear Highschool data
cleaned_housing_data.drop(cleaned_housing_data[cleaned_housing_data.high_school == "Current Price:"].index, inplace = True)
cleaned_housing_data.drop(cleaned_housing_data[cleaned_housing_data.high_school == "Other"].index, inplace = True)
cleaned_housing_data.shape

(1943, 15)

In [7]:
# Create a cost ranker based on zipcode
zipcode = cleaned_housing_data[["price","zipcode"]]
zipcodeAVG = zipcode.groupby(["zipcode"]).mean().sort_values(by=["price"], ascending=False)
zipcodeRanker = zipcodeAVG.reset_index(drop=False)
zipcodeRanker.reset_index(drop=False, inplace=True)
zipcodeRanker.rename(columns={"index":"zipcode_rank","price":"zipcodeAVGcost"}, inplace=True)
zipcodeRanker["zipcode_rank"]=zipcodeRanker["zipcode_rank"]+1


# Merge into df
cleaned_housing_data2 = pd.merge(cleaned_housing_data, zipcodeRanker, on="zipcode")
cleaned_housing_data2.rename(columns={"price_y":"zipcodeAVGcost"}, inplace = True)
cleaned_housing_data2.head()

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode,zipcode_rank,zipcodeAVGcost
0,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,unknown,129500,735,97230,29,412295.897059
1,"3389 NE 162ND AVE, Portland OR 97230",2.0,2,1979,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,Fremont Village Park,160000,1073,97230,29,412295.897059
2,"19609 NE MARINE DR E1, Portland OR 97230",2.0,3,1945,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,Big Eddy Marina,224500,1150,97230,29,412295.897059
3,"15041 NE SISKIYOU CT, Portland OR 97230",2.0,2,1973,Portland,Multnomah,Scott,Reynolds,Condo,0.0,H.B. Lee,unknown,229900,1638,97230,29,412295.897059
4,"15025 NE SACRAMENTO ST 56, Portland OR 97230",2.0,2,1986,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,SUMMERPLACE,239000,1128,97230,29,412295.897059

In [8]:
# Create district df
school_dict = ({"high_school" : ['Reynolds', 'Parkrose', 'David Douglas', 'Centennial', 'Cleveland',
        'Lincoln', 'Madison', 'Jefferson', 'Roosevelt', 'Sunset','Westview', 'Liberty', 'Beaverton', 
        'Grant', 'Southridge', 'Tigard', 'Wilson', 'Riverdale', 'Lake Oswego', 'Franklin',
        'Tualatin', 'Milwaukie', 'Scappoose'], "district" : ['Reynolds', 'Parkrose','David Douglas',
        'Centennial', 'Portland Public', 'Portland Public', 'Portland Public', 'Portland Public',
        'Portland Public', 'Beaverton', 'Beaverton', 'Hillsboro', 'Beaverton', 'Portland Public',
        'Beaverton', 'Tigard-Tualatin', 'Portland Public', 'Riverdale', 'Lake Oswego', 'Portland Public',
        'Tigard-Tualatin', 'North Clackamas', 'Scappose']})
district_df = pd.DataFrame (school_dict)

# Merge into OG df
cleaned_housing_data3 = pd.merge(cleaned_housing_data2, district_df, on="high_school")
cleaned_housing_data3.head()

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode,zipcode_rank,zipcodeAVGcost,district
0,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,unknown,129500,735,97230,29,412295.897059,Reynolds
1,"3389 NE 162ND AVE, Portland OR 97230",2.0,2,1979,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,Fremont Village Park,160000,1073,97230,29,412295.897059,Reynolds
2,"19609 NE MARINE DR E1, Portland OR 97230",2.0,3,1945,Portland,Multnomah,Salish Pond,Reynolds,Floating,0.0,Reynolds,Big Eddy Marina,224500,1150,97230,29,412295.897059,Reynolds
3,"15041 NE SISKIYOU CT, Portland OR 97230",2.0,2,1973,Portland,Multnomah,Scott,Reynolds,Condo,0.0,H.B. Lee,unknown,229900,1638,97230,29,412295.897059,Reynolds
4,"15025 NE SACRAMENTO ST 56, Portland OR 97230",2.0,2,1986,Portland,Multnomah,Margaret Scott,Reynolds,Condo,0.0,H.B. Lee,SUMMERPLACE,239000,1128,97230,29,412295.897059,Reynolds

In [9]:
# Create a cost ranker based on high schools
hs = cleaned_housing_data3[["price","high_school"]]
hsAVG = hs.groupby(["high_school"]).mean().sort_values(by=["price"], ascending=False)
hsRanker = hsAVG.reset_index(drop=False)
hsRanker.reset_index(drop=False, inplace=True)
hsRanker.rename(columns={"index":"hs_rank","price":"hsAVGcost"}, inplace=True)
hsRanker["hs_rank"]= hsRanker["hs_rank"]+1

# Create a cost ranker based on districts
district = cleaned_housing_data3[["price","district"]]
districtAVG = district.groupby(["district"]).mean().sort_values(by=["price"], ascending=False)
districtRanker = districtAVG.reset_index(drop=False)
districtRanker.reset_index(drop=False, inplace=True)
districtRanker.rename(columns={"index":"district_rank","price":"districtAVGcost"}, inplace=True)
districtRanker["district_rank"]= districtRanker["district_rank"]+1

In [10]:
# Merge high school and district rankers 
cleaned_housing_data4 = pd.merge(cleaned_housing_data3, hsRanker, on="high_school")
cleaned_housing_data_5 = pd.merge(cleaned_housing_data4, districtRanker, on="district")
cleaned_housing_data_final = cleaned_housing_data_5[['address', 'price', 'home_type', 'bedrooms', 
                                'bathrooms', 'square_feet', 'built', 'lot_size', 'neighborhood', 
                                'county', 'city', 'zipcode', 'zipcode_rank', 'zipcodeAVGcost',
                                'elementary_school', 'middle_school', 'high_school','hs_rank', 
                                'hsAVGcost', 'district', 'district_rank', 'districtAVGcost']]

cleaned_housing_data_final.head()

,address,price,home_type,bedrooms,bathrooms,square_feet,built,lot_size,neighborhood,county,...,zipcode_rank,zipcodeAVGcost,elementary_school,middle_school,high_school,hs_rank,hsAVGcost,district,district_rank,districtAVGcost
0,"19609 NE Marine DR E-4, Portland OR 97230",129500,Floating,1,1.0,735,1960,0.0,unknown,Multnomah,...,29,412295.897059,Salish Pond,Reynolds,Reynolds,21,393627.258621,Reynolds,10,393627.258621
1,"3389 NE 162ND AVE, Portland OR 97230",160000,Condo,2,2.0,1073,1979,0.0,Fremont Village Park,Multnomah,...,29,412295.897059,Margaret Scott,H.B. Lee,Reynolds,21,393627.258621,Reynolds,10,393627.258621
2,"19609 NE MARINE DR E1, Portland OR 97230",224500,Floating,3,2.0,1150,1945,0.0,Big Eddy Marina,Multnomah,...,29,412295.897059,Salish Pond,Reynolds,Reynolds,21,393627.258621,Reynolds,10,393627.258621
3,"15041 NE SISKIYOU CT, Portland OR 97230",229900,Condo,2,2.0,1638,1973,0.0,unknown,Multnomah,...,29,412295.897059,Scott,H.B. Lee,Reynolds,21,393627.258621,Reynolds,10,393627.258621
4,"15025 NE SACRAMENTO ST 56, Portland OR 97230",239000,Condo,2,2.0,1128,1986,0.0,SUMMERPLACE,Multnomah,...,29,412295.897059,Margaret Scott,H.B. Lee,Reynolds,21,393627.258621,Reynolds,10,393627.258621

## Prepare Data for Model

In [11]:
# Make a copy of the original data frame to modify.
model_df = cleaned_housing_data_final

# Include only those columns that will be used in the deep learning model.
model_df = model_df.loc[:, ["bathrooms",
                            "bedrooms",
                            "built",
                            "lot_size",
                            "square_feet",
#                             "neighborhood",
#                             "county",
#                             "home_type",
#                             "hs_rank",
#                             "hsAVGcost",
                            "districtAVGcost",
                            "district_rank",
                            "zipcodeAVGcost",
                            "zipcode_rank",
                            "price"]
                       ]

# Drop rows with NaN entries.
model_df.dropna(inplace=True)

# Check the model data.
print(len(model_df))
model_df.head()

1943

,bathrooms,bedrooms,built,lot_size,square_feet,districtAVGcost,district_rank,zipcodeAVGcost,zipcode_rank,price
0,1.0,1,1960,0.0,735,393627.258621,10,412295.897059,29,129500
1,2.0,2,1979,0.0,1073,393627.258621,10,412295.897059,29,160000
2,2.0,3,1945,0.0,1150,393627.258621,10,412295.897059,29,224500
3,2.0,2,1973,0.0,1638,393627.258621,10,412295.897059,29,229900
4,2.0,2,1986,0.0,1128,393627.258621,10,412295.897059,29,239000

In [12]:
# Bin prices into ten equal length ranges.
model_df["price_range"] = pd.qcut(model_df["price"], 5)
# Drop the original price data.
model_df.drop("price", axis=1, inplace=True)
model_df.head()

,bathrooms,bedrooms,built,lot_size,square_feet,districtAVGcost,district_rank,zipcodeAVGcost,zipcode_rank,price_range
0,1.0,1,1960,0.0,735,393627.258621,10,412295.897059,29,"(123499.999, 348340.0]"
1,2.0,2,1979,0.0,1073,393627.258621,10,412295.897059,29,"(123499.999, 348340.0]"
2,2.0,3,1945,0.0,1150,393627.258621,10,412295.897059,29,"(123499.999, 348340.0]"
3,2.0,2,1973,0.0,1638,393627.258621,10,412295.897059,29,"(123499.999, 348340.0]"
4,2.0,2,1986,0.0,1128,393627.258621,10,412295.897059,29,"(123499.999, 348340.0]"

In [13]:
# # Get dummies for the values in home_type to use in the model.
# model_df = pd.get_dummies(model_df, columns=["home_type"])
# model_df.head()

In [14]:
# Assign X (input) and y (target).
X = model_df.drop("price_range", axis=1)
y = model_df["price_range"]

In [15]:
# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a MinMaxScaler model and fit it to the training data
X_scaler = MinMaxScaler().fit(X_train)

# Save the scalar.
dump(X_scaler, 'minmax_scaler.bin', compress=True)

['minmax_scaler.bin']

In [17]:
# Transform the training and testing data using the X_scaler and y_scaler models.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Label encode the target data.
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Save the label encoder
dump(label_encoder, 'label_encoder.bin', compress=True)

['label_encoder.bin']

In [19]:
# Convert encoded labels to one-hot encoding.
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

## Run Random Forest Classifier

In [20]:
# Create a random forest classifier, fit to the training data, and score on the testing data.
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_scaled, y_train_categorical)
print(rf.score(X_test_scaled, y_test_categorical))

# Find the importances of each feature.
feature_names = X.columns
importances = rf.feature_importances_
print(sorted(zip(rf.feature_importances_, feature_names), reverse=True))

0.5967078189300411
[(0.3505526037574974, 'square_feet'), (0.15424433583665914, 'built'), (0.10541034532431656, 'lot_size'), (0.09762572519472738, 'zipcode_rank'), (0.0966156566150146, 'zipcodeAVGcost'), (0.08500182173109963, 'bathrooms'), (0.066672396299825, 'bedrooms'), (0.022039595019232767, 'district_rank'), (0.021837520221627504, 'districtAVGcost')]

## Create a Deep Learning Model

In [21]:
# Create a deep learning Sequential model.
deep_model = Sequential()
deep_model.add(Dense(units=500, activation='relu', input_dim=9))
deep_model.add(Dense(units=200, activation='relu'))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=5, activation='softmax'))

In [22]:
# Compile and fit the model.
deep_model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=200,
    shuffle=True,
    verbose=2
)

Train on 1457 samples
Epoch 1/200
1457/1457 - 1s - loss: 1.3682 - accuracy: 0.4118
Epoch 2/200
1457/1457 - 0s - loss: 1.1021 - accuracy: 0.5093
Epoch 3/200
1457/1457 - 0s - loss: 1.0658 - accuracy: 0.5312
Epoch 4/200
1457/1457 - 0s - loss: 1.0211 - accuracy: 0.5422
Epoch 5/200
1457/1457 - 0s - loss: 0.9938 - accuracy: 0.5642
Epoch 6/200
1457/1457 - 0s - loss: 0.9681 - accuracy: 0.5724
Epoch 7/200
1457/1457 - 0s - loss: 0.9606 - accuracy: 0.5683
Epoch 8/200
1457/1457 - 0s - loss: 0.9212 - accuracy: 0.5916
Epoch 9/200
1457/1457 - 0s - loss: 0.9224 - accuracy: 0.5854
Epoch 10/200
1457/1457 - 0s - loss: 0.8997 - accuracy: 0.6122
Epoch 11/200
1457/1457 - 0s - loss: 0.8851 - accuracy: 0.6047
Epoch 12/200
1457/1457 - 0s - loss: 0.8881 - accuracy: 0.6205
Epoch 13/200
1457/1457 - 0s - loss: 0.8695 - accuracy: 0.6342
Epoch 14/200
1457/1457 - 0s - loss: 0.8623 - accuracy: 0.6218
Epoch 15/200
1457/1457 - 0s - loss: 0.8537 - accuracy: 0.6307
Epoch 16/200
1457/1457 - 0s - loss: 0.9314 - accuracy: 0.6108
Epoch 17/200
1457/1457 - 0s - loss: 0.8465 - accuracy: 0.6397
Epoch 18/200
1457/1457 - 0s - loss: 0.8554 - accuracy: 0.6239
Epoch 19/200
1457/1457 - 0s - loss: 0.8455 - accuracy: 0.6383
Epoch 20/200
1457/1457 - 0s - loss: 0.8427 - accuracy: 0.6335
Epoch 21/200
1457/1457 - 0s - loss: 0.8261 - accuracy: 0.6555
Epoch 22/200
1457/1457 - 0s - loss: 0.8364 - accuracy: 0.6472
Epoch 23/200
1457/1457 - 0s - loss: 0.8182 - accuracy: 0.6596
Epoch 24/200
1457/1457 - 0s - loss: 0.8272 - accuracy: 0.6431
Epoch 25/200
1457/1457 - 0s - loss: 0.8193 - accuracy: 0.6507
Epoch 26/200
1457/1457 - 0s - loss: 0.8235 - accuracy: 0.6472
Epoch 27/200
1457/1457 - 0s - loss: 0.8179 - accuracy: 0.6493
Epoch 28/200
1457/1457 - 0s - loss: 0.8160 - accuracy: 0.6527
Epoch 29/200
1457/1457 - 0s - loss: 0.8064 - accuracy: 0.6575
Epoch 30/200
1457/1457 - 0s - loss: 0.8003 - accuracy: 0.6500
Epoch 31/200
1457/1457 - 0s - loss: 0.7985 - accuracy: 0.6513
Epoch 32/200
1457/1457 - 0s - loss: 0.8308 - accuracy: 0.6301
Epoch 33/200
1457/1457 - 0s - loss: 0.8016 - accuracy: 0.6561
Epoch 34/200
1457/1457 - 0s - loss: 0.8193 - accuracy: 0.6383
Epoch 35/200
1457/1457 - 0s - loss: 0.7886 - accuracy: 0.6630
Epoch 36/200
1457/1457 - 0s - loss: 0.7796 - accuracy: 0.6671
Epoch 37/200
1457/1457 - 0s - loss: 0.7913 - accuracy: 0.6609
Epoch 38/200
1457/1457 - 0s - loss: 0.7843 - accuracy: 0.6616
Epoch 39/200
1457/1457 - 0s - loss: 0.7757 - accuracy: 0.6637
Epoch 40/200
1457/1457 - 0s - loss: 0.7948 - accuracy: 0.6445
Epoch 41/200
1457/1457 - 0s - loss: 0.7926 - accuracy: 0.6555
Epoch 42/200
1457/1457 - 0s - loss: 0.7905 - accuracy: 0.6651
Epoch 43/200
1457/1457 - 0s - loss: 0.7686 - accuracy: 0.6706
Epoch 44/200
1457/1457 - 0s - loss: 0.7599 - accuracy: 0.6671
Epoch 45/200
1457/1457 - 0s - loss: 0.7583 - accuracy: 0.6658
Epoch 46/200
1457/1457 - 0s - loss: 0.7610 - accuracy: 0.6712
Epoch 47/200
1457/1457 - 0s - loss: 0.7594 - accuracy: 0.6836
Epoch 48/200
1457/1457 - 0s - loss: 0.7558 - accuracy: 0.6815
Epoch 49/200
1457/1457 - 0s - loss: 0.7500 - accuracy: 0.6857
Epoch 50/200
1457/1457 - 0s - loss: 0.7499 - accuracy: 0.6802
Epoch 51/200
1457/1457 - 0s - loss: 0.7460 - accuracy: 0.6836
Epoch 52/200
1457/1457 - 0s - loss: 0.7402 - accuracy: 0.6857
Epoch 53/200
1457/1457 - 0s - loss: 0.7528 - accuracy: 0.6733
Epoch 54/200
1457/1457 - 0s - loss: 0.7479 - accuracy: 0.6829
Epoch 55/200
1457/1457 - 0s - loss: 0.7337 - accuracy: 0.6905
Epoch 56/200
1457/1457 - 0s - loss: 0.7625 - accuracy: 0.6726
Epoch 57/200
1457/1457 - 0s - loss: 0.7403 - accuracy: 0.6795
Epoch 58/200
1457/1457 - 0s - loss: 0.7246 - accuracy: 0.6863
Epoch 59/200
1457/1457 - 0s - loss: 0.7268 - accuracy: 0.6898
Epoch 60/200
1457/1457 - 0s - loss: 0.7388 - accuracy: 0.6911
Epoch 61/200
1457/1457 - 0s - loss: 0.7738 - accuracy: 0.6754
Epoch 62/200
1457/1457 - 0s - loss: 0.7406 - accuracy: 0.6850
Epoch 63/200
1457/1457 - 0s - loss: 0.7155 - accuracy: 0.7021
Epoch 64/200
1457/1457 - 0s - loss: 0.7342 - accuracy: 0.6863
Epoch 65/200
1457/1457 - 0s - loss: 0.7199 - accuracy: 0.6925
Epoch 66/200
1457/1457 - 0s - loss: 0.7275 - accuracy: 0.6877
Epoch 67/200
1457/1457 - 0s - loss: 0.7520 - accuracy: 0.6767
Epoch 68/200
1457/1457 - 0s - loss: 0.7542 - accuracy: 0.6877
Epoch 69/200
1457/1457 - 0s - loss: 0.7096 - accuracy: 0.6994
Epoch 70/200
1457/1457 - 0s - loss: 0.7067 - accuracy: 0.7014
Epoch 71/200
1457/1457 - 0s - loss: 0.6925 - accuracy: 0.6966
Epoch 72/200
1457/1457 - 0s - loss: 0.7099 - accuracy: 0.6980
Epoch 73/200
1457/1457 - 0s - loss: 0.7126 - accuracy: 0.6911
Epoch 74/200
1457/1457 - 0s - loss: 0.7087 - accuracy: 0.6994
Epoch 75/200
1457/1457 - 0s - loss: 0.7094 - accuracy: 0.6953
Epoch 76/200
1457/1457 - 0s - loss: 0.6950 - accuracy: 0.7124
Epoch 77/200
1457/1457 - 0s - loss: 0.6964 - accuracy: 0.7124
Epoch 78/200
1457/1457 - 0s - loss: 0.6996 - accuracy: 0.7056
Epoch 79/200
1457/1457 - 0s - loss: 0.6998 - accuracy: 0.7021
Epoch 80/200
1457/1457 - 0s - loss: 0.7151 - accuracy: 0.7001
Epoch 81/200
1457/1457 - 0s - loss: 0.7044 - accuracy: 0.7090
Epoch 82/200
1457/1457 - 0s - loss: 0.6842 - accuracy: 0.7056
Epoch 83/200
1457/1457 - 0s - loss: 0.6756 - accuracy: 0.7220
Epoch 84/200
1457/1457 - 0s - loss: 0.6966 - accuracy: 0.7001
Epoch 85/200
1457/1457 - 0s - loss: 0.6856 - accuracy: 0.7042
Epoch 86/200
1457/1457 - 0s - loss: 0.6878 - accuracy: 0.6994
Epoch 87/200
1457/1457 - 0s - loss: 0.6697 - accuracy: 0.7261
Epoch 88/200
1457/1457 - 0s - loss: 0.6719 - accuracy: 0.7207
Epoch 89/200
1457/1457 - 0s - loss: 0.6713 - accuracy: 0.7131
Epoch 90/200
1457/1457 - 0s - loss: 0.6648 - accuracy: 0.7193
Epoch 91/200
1457/1457 - 0s - loss: 0.6708 - accuracy: 0.7179
Epoch 92/200
1457/1457 - 0s - loss: 0.6596 - accuracy: 0.7248
Epoch 93/200
1457/1457 - 0s - loss: 0.6521 - accuracy: 0.7323
Epoch 94/200
1457/1457 - 0s - loss: 0.6725 - accuracy: 0.7193
Epoch 95/200
1457/1457 - 0s - loss: 0.6724 - accuracy: 0.7165
Epoch 96/200
1457/1457 - 0s - loss: 0.6693 - accuracy: 0.7179
Epoch 97/200
1457/1457 - 0s - loss: 0.6648 - accuracy: 0.7200
Epoch 98/200
1457/1457 - 0s - loss: 0.6807 - accuracy: 0.7117
Epoch 99/200
1457/1457 - 0s - loss: 0.6618 - accuracy: 0.7207
Epoch 100/200
1457/1457 - 0s - loss: 0.6438 - accuracy: 0.7392
Epoch 101/200
1457/1457 - 0s - loss: 0.6469 - accuracy: 0.7303
Epoch 102/200
1457/1457 - 0s - loss: 0.6485 - accuracy: 0.7268
Epoch 103/200
1457/1457 - 0s - loss: 0.6446 - accuracy: 0.7303
Epoch 104/200
1457/1457 - 0s - loss: 0.6564 - accuracy: 0.7303
Epoch 105/200
1457/1457 - 0s - loss: 0.6418 - accuracy: 0.7344
Epoch 106/200
1457/1457 - 0s - loss: 0.6382 - accuracy: 0.7399
Epoch 107/200
1457/1457 - 0s - loss: 0.6359 - accuracy: 0.7378
Epoch 108/200
1457/1457 - 0s - loss: 0.6293 - accuracy: 0.7419
Epoch 109/200
1457/1457 - 0s - loss: 0.6301 - accuracy: 0.7282
Epoch 110/200
1457/1457 - 0s - loss: 0.6553 - accuracy: 0.7213
Epoch 111/200
1457/1457 - 0s - loss: 0.6276 - accuracy: 0.7440
Epoch 112/200
1457/1457 - 0s - loss: 0.6408 - accuracy: 0.7241
Epoch 113/200
1457/1457 - 0s - loss: 0.6278 - accuracy: 0.7488
Epoch 114/200
1457/1457 - 0s - loss: 0.6106 - accuracy: 0.7467
Epoch 115/200
1457/1457 - 0s - loss: 0.6155 - accuracy: 0.7419
Epoch 116/200
1457/1457 - 0s - loss: 0.6152 - accuracy: 0.7474
Epoch 117/200
1457/1457 - 0s - loss: 0.6028 - accuracy: 0.7426
Epoch 118/200
1457/1457 - 0s - loss: 0.6063 - accuracy: 0.7563
Epoch 119/200
1457/1457 - 0s - loss: 0.6096 - accuracy: 0.7481
Epoch 120/200
1457/1457 - 0s - loss: 0.6112 - accuracy: 0.7502
Epoch 121/200
1457/1457 - 0s - loss: 0.6134 - accuracy: 0.7344
Epoch 122/200
1457/1457 - 0s - loss: 0.6216 - accuracy: 0.7358
Epoch 123/200
1457/1457 - 0s - loss: 0.5906 - accuracy: 0.7639
Epoch 124/200
1457/1457 - 0s - loss: 0.5965 - accuracy: 0.7502
Epoch 125/200
1457/1457 - 0s - loss: 0.5968 - accuracy: 0.7502
Epoch 126/200
1457/1457 - 0s - loss: 0.5727 - accuracy: 0.7680
Epoch 127/200
1457/1457 - 0s - loss: 0.6163 - accuracy: 0.7412
Epoch 128/200
1457/1457 - 0s - loss: 0.5990 - accuracy: 0.7495
Epoch 129/200
1457/1457 - 0s - loss: 0.5805 - accuracy: 0.7694
Epoch 130/200
1457/1457 - 0s - loss: 0.5848 - accuracy: 0.7618
Epoch 131/200
1457/1457 - 0s - loss: 0.5936 - accuracy: 0.7481
Epoch 132/200
1457/1457 - 0s - loss: 0.5873 - accuracy: 0.7529

Epoch 133/200
1457/1457 - 0s - loss: 0.5936 - accuracy: 0.7467
Epoch 134/200
1457/1457 - 0s - loss: 0.5833 - accuracy: 0.7509
Epoch 135/200
1457/1457 - 0s - loss: 0.5581 - accuracy: 0.7632
Epoch 136/200
1457/1457 - 0s - loss: 0.5607 - accuracy: 0.7742
Epoch 137/200
1457/1457 - 0s - loss: 0.5673 - accuracy: 0.7646
Epoch 138/200
1457/1457 - 0s - loss: 0.5801 - accuracy: 0.7522
Epoch 139/200
1457/1457 - 0s - loss: 0.5547 - accuracy: 0.7673
Epoch 140/200
1457/1457 - 0s - loss: 0.5573 - accuracy: 0.7763
Epoch 141/200
1457/1457 - 0s - loss: 0.5761 - accuracy: 0.7536
Epoch 142/200
1457/1457 - 0s - loss: 0.5630 - accuracy: 0.7618
Epoch 143/200
1457/1457 - 0s - loss: 0.5819 - accuracy: 0.7584
Epoch 144/200
1457/1457 - 0s - loss: 0.5678 - accuracy: 0.7584
Epoch 145/200
1457/1457 - 0s - loss: 0.5871 - accuracy: 0.7426
Epoch 146/200
1457/1457 - 0s - loss: 0.5503 - accuracy: 0.7653
Epoch 147/200
1457/1457 - 0s - loss: 0.5557 - accuracy: 0.7536
Epoch 148/200
1457/1457 - 0s - loss: 0.5484 - accuracy: 0.7708
Epoch 149/200
1457/1457 - 0s - loss: 0.5442 - accuracy: 0.7660
Epoch 150/200
1457/1457 - 0s - loss: 0.5435 - accuracy: 0.7708
Epoch 151/200
1457/1457 - 0s - loss: 0.5482 - accuracy: 0.7618
Epoch 152/200
1457/1457 - 0s - loss: 0.5252 - accuracy: 0.7811
Epoch 153/200
1457/1457 - 0s - loss: 0.5472 - accuracy: 0.7714
Epoch 154/200
1457/1457 - 0s - loss: 0.5226 - accuracy: 0.7804
Epoch 155/200
1457/1457 - 0s - loss: 0.5400 - accuracy: 0.7735
Epoch 156/200
1457/1457 - 0s - loss: 0.5495 - accuracy: 0.7646
Epoch 157/200
1457/1457 - 0s - loss: 0.5413 - accuracy: 0.7845
Epoch 158/200
1457/1457 - 0s - loss: 0.5212 - accuracy: 0.7797
Epoch 159/200
1457/1457 - 0s - loss: 0.5384 - accuracy: 0.7721
Epoch 160/200
1457/1457 - 0s - loss: 0.5208 - accuracy: 0.7838
Epoch 161/200
1457/1457 - 0s - loss: 0.5312 - accuracy: 0.7742
Epoch 162/200
1457/1457 - 0s - loss: 0.5018 - accuracy: 0.7886
Epoch 163/200
1457/1457 - 0s - loss: 0.5126 - accuracy: 0.7893
Epoch 164/200
1457/1457 - 0s - loss: 0.5136 - accuracy: 0.7769
Epoch 165/200
1457/1457 - 0s - loss: 0.5321 - accuracy: 0.7749
Epoch 166/200
1457/1457 - 0s - loss: 0.5179 - accuracy: 0.7776
Epoch 167/200
1457/1457 - 0s - loss: 0.5167 - accuracy: 0.7790
Epoch 168/200
1457/1457 - 0s - loss: 0.5026 - accuracy: 0.7886
Epoch 169/200
1457/1457 - 0s - loss: 0.5360 - accuracy: 0.7714
Epoch 170/200
1457/1457 - 0s - loss: 0.5902 - accuracy: 0.7625
Epoch 171/200
1457/1457 - 0s - loss: 0.5243 - accuracy: 0.7824
Epoch 172/200
1457/1457 - 0s - loss: 0.5005 - accuracy: 0.7920
Epoch 173/200
1457/1457 - 0s - loss: 0.4967 - accuracy: 0.7934
Epoch 174/200
1457/1457 - 0s - loss: 0.4947 - accuracy: 0.7900
Epoch 175/200
1457/1457 - 0s - loss: 0.4967 - accuracy: 0.7865
Epoch 176/200
1457/1457 - 0s - loss: 0.4972 - accuracy: 0.7907
Epoch 177/200
1457/1457 - 0s - loss: 0.4994 - accuracy: 0.7907
Epoch 178/200
1457/1457 - 0s - loss: 0.4938 - accuracy: 0.7975
Epoch 179/200
1457/1457 - 0s - loss: 0.4785 - accuracy: 0.8044
Epoch 180/200
1457/1457 - 0s - loss: 0.4855 - accuracy: 0.7955
Epoch 181/200
1457/1457 - 0s - loss: 0.4832 - accuracy: 0.7886
Epoch 182/200
1457/1457 - 0s - loss: 0.4945 - accuracy: 0.7859
Epoch 183/200
1457/1457 - 0s - loss: 0.4838 - accuracy: 0.8016
Epoch 184/200
1457/1457 - 0s - loss: 0.4686 - accuracy: 0.8119
Epoch 185/200
1457/1457 - 0s - loss: 0.4963 - accuracy: 0.7927
Epoch 186/200
1457/1457 - 0s - loss: 0.4650 - accuracy: 0.8065
Epoch 187/200
1457/1457 - 0s - loss: 0.4706 - accuracy: 0.8003
Epoch 188/200
1457/1457 - 0s - loss: 0.4760 - accuracy: 0.8023
Epoch 189/200
1457/1457 - 0s - loss: 0.4649 - accuracy: 0.8023
Epoch 190/200
1457/1457 - 0s - loss: 0.4850 - accuracy: 0.7989
Epoch 191/200
1457/1457 - 0s - loss: 0.4788 - accuracy: 0.7920
Epoch 192/200
1457/1457 - 0s - loss: 0.4692 - accuracy: 0.7989
Epoch 193/200
1457/1457 - 0s - loss: 0.4545 - accuracy: 0.8113
Epoch 194/200
1457/1457 - 0s - loss: 0.4722 - accuracy: 0.7934
Epoch 195/200
1457/1457 - 0s - loss: 0.4702 - accuracy: 0.8065
Epoch 196/200
1457/1457 - 0s - loss: 0.4492 - accuracy: 0.8202
Epoch 197/200
1457/1457 - 0s - loss: 0.4503 - accuracy: 0.8099
Epoch 198/200
1457/1457 - 0s - loss: 0.4494 - accuracy: 0.8181
Epoch 199/200
1457/1457 - 0s - loss: 0.4415 - accuracy: 0.8119
Epoch 200/200
1457/1457 - 0s - loss: 0.4332 - accuracy: 0.8291

## Quantify our Trained Model

In [23]:
model_loss, model_accuracy = deep_model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

486/1 - 0s - loss: 0.8680 - accuracy: 0.6667
Loss: 1.0733362809130194, Accuracy: 0.6666666865348816

## Make Predictions

In [24]:
# Use the first 10 test data values to make a prediction and compare it to the actual labels.
encoded_predictions = deep_model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: [Interval(449000.0, 609000.0, closed='right')
 Interval(609000.0, 825000.0, closed='right')
 Interval(348340.0, 449000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')
 Interval(609000.0, 825000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')
 Interval(123499.999, 348340.0, closed='right')
 Interval(123499.999, 348340.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')]
Actual Labels: [Interval(609000.0, 825000.0, closed='right'), Interval(609000.0, 825000.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(609000.0, 825000.0, closed='right'), Interval(123499.999, 348340.0, closed='right'), Interval(123499.999, 348340.0, closed='right'), Interval(449000.0, 609000.0, closed='right')]

## Save the trained model

In [25]:
# Save the model
deep_model.save("housing_model_trained.h5")

## Test the saved model, scaler, and label encoder

In [26]:
# Load the model, scaler and label encoder.
model = load_model("housing_model_trained.h5")
scaler = load("minmax_scaler.bin")
label_encoder = load("label_encoder.bin")

In [27]:
# Input data for testing.
input_data = np.array(np.array([X.iloc[0]]))

In [28]:
X.iloc[0]

bathrooms               1.000000
bedrooms                1.000000
built                1960.000000
lot_size                0.000000
square_feet           735.000000
districtAVGcost    393627.258621
district_rank          10.000000
zipcodeAVGcost     412295.897059
zipcode_rank           29.000000
Name: 0, dtype: float64

In [29]:
encoded_predictions = model.predict_classes(scaler.transform(input_data))
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"{prediction_labels[0].left}, {prediction_labels[0].right}")

123499.999, 348340.0