## Setup

In [4]:
# Import Dependencies.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import requests
import json

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
# Fetch the data from the API.
listings_json = requests.get("http://127.0.0.1:5000/api/v1.0/listings").json()

# Examine the data.
print(json.dumps(listings_json[0], indent=4, sort_keys=True))

{
    "address": "17452 NE GLISAN ST #7, Portland OR 97230",
    "bathrooms": 2.0,
    "bedrooms": 2,
    "built": 1988,
    "city": "Portland",
    "county": "Multnomah",
    "elementary_school": "Hartley",
    "high_school": "Reynolds",
    "home_type": "Manufactured - Double Wide Manufact",
    "lot_size": null,
    "middle_school": "Reynolds",
    "neighborhood": "unknown",
    "price": 72000,
    "square_feet": 1152,
    "zipcode": 97230
}

In [3]:
# Create a dataframe to use for our model.
data_df = pd.DataFrame(listings_json)

print(len(data_df))
data_df.head()

1822

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode
0,"17452 NE GLISAN ST #7, Portland OR 97230",2.0,2,1988,Portland,Multnomah,Hartley,Reynolds,Manufactured - Double Wide Manufact,NaN,Reynolds,unknown,72000,1152,97230
1,"16000 SE POWELL BLVD 75, Portland OR 97236",2.0,3,1990,Portland,Multnomah,Powell Butte,Centennial,Manufactured - Double Wide Manufact,NaN,Centennial,unknown,79950,1404,97236
2,"12846 SE RAMONA ST 6, Portland OR 97236",2.0,3,1997,Portland,Multnomah,Gilbert Hts,David Douglas,Manufactured - Double Wide Manufact,NaN,Alice Ott,unknown,93900,1297,97236
3,"7720 S Macadam AVE 7, Portland OR 97219",3.0,3,1988,Portland,Multnomah,Other,Other,Floating Home - Contemporary,NaN,Other,unknown,125000,2432,97219
4,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating Home - Cabin,NaN,Reynolds,unknown,129500,735,97230

## Data Preprocessing

In [25]:
# Make a copy of the original data frame to modify.
model_df = data_df

# Insert a lot value of 0 for condos and floating homes.
for index, row in model_df.iterrows():
    if ("Condo" in row["home_type"]) | ("Floating" in row["home_type"]):
        model_df.loc[index, "lot_size"] = 0
    else:
        pass

# Include only those columns that will be used in the deep learning model.
model_df = model_df.loc[:, ["bathrooms", "bedrooms", "built", "lot_size", "square_feet", "price"]]
# Chose not to include high_school due to lousy random forest fitting.
# Drop rows with NaN entries.
model_df.dropna(inplace=True)

# Bin prices into ten equal length ranges.
model_df["price_range"] = pd.qcut(model_df["price"], 5)
# Drop the original price data.
model_df.drop("price", axis=1, inplace=True)

# Check the model data.
print(len(model_df))
model_df.head()

1725

   bathrooms  bedrooms  built  lot_size  square_feet             price_range
3        3.0         3   1988       0.0         2432  (124999.999, 349000.0]
4        1.0         1   1960       0.0          735  (124999.999, 349000.0]
5        1.0         1   1974       0.0          720  (124999.999, 349000.0]
6        1.0         1   1927       0.0          382  (124999.999, 349000.0]
7        1.0         1   2004       0.0          513  (124999.999, 349000.0]

In [26]:
# Check the counts for price range to see if the bins need adjusting.
listing_count = model_df.groupby("price_range").count()
listing_count

                        bathrooms  bedrooms  built  lot_size  square_feet
price_range
(124999.999, 349000.0]        347       347    347       347          347
(349000.0, 449500.0]          344       344    344       344          344
(449500.0, 614994.0]          344       344    344       344          344
(614994.0, 835200.0]          345       345    345       345          345
(835200.0, 4495000.0]         345       345    345       345          345

In [27]:
# Assign X (input) and y (target).

X = model_df.drop("price_range", axis=1)
y = model_df["price_range"]

In [28]:
# Split the data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [29]:
# Create a MinMaxScaler model and fit it to the training data

X_scaler = MinMaxScaler().fit(X_train)

In [30]:
# Transform the training and testing data using the X_scaler and y_scaler models.

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Label encode the target data.
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [32]:
# Convert encoded labels to one-hot encoding.
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

## Create a Deep Learning Model

In [35]:
# Create a deep learning Sequential model.
deep_model = Sequential()
deep_model.add(Dense(units=100, activation='relu', input_dim=5))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=5, activation='softmax'))

In [36]:
# Compile and fit the model.
deep_model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 1293 samples
Epoch 1/100
1293/1293 - 1s - loss: 1.5810 - accuracy: 0.3248
Epoch 2/100
1293/1293 - 0s - loss: 1.4611 - accuracy: 0.4014
Epoch 3/100
1293/1293 - 0s - loss: 1.3200 - accuracy: 0.4331
Epoch 4/100
1293/1293 - 0s - loss: 1.2341 - accuracy: 0.4927
Epoch 5/100
1293/1293 - 0s - loss: 1.1934 - accuracy: 0.4934
Epoch 6/100
1293/1293 - 0s - loss: 1.1675 - accuracy: 0.5104
Epoch 7/100
1293/1293 - 0s - loss: 1.1489 - accuracy: 0.5151
Epoch 8/100
1293/1293 - 0s - loss: 1.1356 - accuracy: 0.5166
Epoch 9/100
1293/1293 - 0s - loss: 1.1115 - accuracy: 0.5367
Epoch 10/100
1293/1293 - 0s - loss: 1.1015 - accuracy: 0.5445
Epoch 11/100
1293/1293 - 0s - loss: 1.0834 - accuracy: 0.5476
Epoch 12/100
1293/1293 - 0s - loss: 1.0756 - accuracy: 0.5514
Epoch 13/100
1293/1293 - 0s - loss: 1.0639 - accuracy: 0.5468
Epoch 14/100
1293/1293 - 0s - loss: 1.0701 - accuracy: 0.5522
Epoch 15/100
1293/1293 - 0s - loss: 1.0532 - accuracy: 0.5584
Epoch 16/100
1293/1293 - 0s - loss: 1.0375 - accuracy: 0.5607
Epoch 17/100
1293/1293 - 0s - loss: 1.0334 - accuracy: 0.5623
Epoch 18/100
1293/1293 - 0s - loss: 1.0373 - accuracy: 0.5615
Epoch 19/100
1293/1293 - 0s - loss: 1.0230 - accuracy: 0.5731
Epoch 20/100
1293/1293 - 0s - loss: 1.0206 - accuracy: 0.5654
Epoch 21/100
1293/1293 - 0s - loss: 1.0198 - accuracy: 0.5700
Epoch 22/100
1293/1293 - 0s - loss: 1.0129 - accuracy: 0.5630
Epoch 23/100
1293/1293 - 0s - loss: 1.0119 - accuracy: 0.5568
Epoch 24/100
1293/1293 - 0s - loss: 1.0093 - accuracy: 0.5661
Epoch 25/100
1293/1293 - 0s - loss: 0.9978 - accuracy: 0.5739
Epoch 26/100
1293/1293 - 0s - loss: 1.0004 - accuracy: 0.5754
Epoch 27/100
1293/1293 - 0s - loss: 0.9993 - accuracy: 0.5723
Epoch 28/100
1293/1293 - 0s - loss: 1.0012 - accuracy: 0.5723
Epoch 29/100
1293/1293 - 0s - loss: 0.9949 - accuracy: 0.5762
Epoch 30/100
1293/1293 - 0s - loss: 0.9925 - accuracy: 0.5770
Epoch 31/100
1293/1293 - 0s - loss: 0.9880 - accuracy: 0.5700
Epoch 32/100
1293/1293 - 0s - loss: 0.9915 - accuracy: 0.5785
Epoch 33/100
1293/1293 - 0s - loss: 0.9854 - accuracy: 0.5816
Epoch 34/100
1293/1293 - 0s - loss: 0.9860 - accuracy: 0.5692
Epoch 35/100
1293/1293 - 0s - loss: 0.9799 - accuracy: 0.5731
Epoch 36/100
1293/1293 - 0s - loss: 0.9804 - accuracy: 0.5746
Epoch 37/100
1293/1293 - 0s - loss: 0.9844 - accuracy: 0.5739
Epoch 38/100
1293/1293 - 0s - loss: 0.9813 - accuracy: 0.5777
Epoch 39/100
1293/1293 - 0s - loss: 0.9835 - accuracy: 0.5893
Epoch 40/100
1293/1293 - 0s - loss: 0.9812 - accuracy: 0.5777
Epoch 41/100
1293/1293 - 0s - loss: 0.9761 - accuracy: 0.5800
Epoch 42/100
1293/1293 - 0s - loss: 0.9806 - accuracy: 0.5777
Epoch 43/100
1293/1293 - 0s - loss: 0.9827 - accuracy: 0.5739
Epoch 44/100
1293/1293 - 0s - loss: 0.9727 - accuracy: 0.5947
Epoch 45/100
1293/1293 - 0s - loss: 0.9772 - accuracy: 0.5715
Epoch 46/100
1293/1293 - 0s - loss: 0.9792 - accuracy: 0.5785
Epoch 47/100
1293/1293 - 0s - loss: 0.9736 - accuracy: 0.5831
Epoch 48/100
1293/1293 - 0s - loss: 0.9758 - accuracy: 0.5762
Epoch 49/100
1293/1293 - 0s - loss: 0.9717 - accuracy: 0.5862
Epoch 50/100
1293/1293 - 0s - loss: 0.9714 - accuracy: 0.5793
Epoch 51/100
1293/1293 - 0s - loss: 0.9868 - accuracy: 0.5847
Epoch 52/100
1293/1293 - 0s - loss: 0.9694 - accuracy: 0.5754
Epoch 53/100
1293/1293 - 0s - loss: 0.9713 - accuracy: 0.5808
Epoch 54/100
1293/1293 - 0s - loss: 0.9747 - accuracy: 0.5739
Epoch 55/100
1293/1293 - 0s - loss: 0.9699 - accuracy: 0.5793
Epoch 56/100
1293/1293 - 0s - loss: 0.9728 - accuracy: 0.5808
Epoch 57/100
1293/1293 - 0s - loss: 0.9669 - accuracy: 0.5808
Epoch 58/100
1293/1293 - 0s - loss: 0.9638 - accuracy: 0.5785
Epoch 59/100
1293/1293 - 0s - loss: 0.9646 - accuracy: 0.5777
Epoch 60/100
1293/1293 - 0s - loss: 0.9810 - accuracy: 0.5739
Epoch 61/100
1293/1293 - 0s - loss: 0.9695 - accuracy: 0.5839
Epoch 62/100
1293/1293 - 0s - loss: 0.9654 - accuracy: 0.5754
Epoch 63/100
1293/1293 - 0s - loss: 0.9723 - accuracy: 0.5816
Epoch 64/100
1293/1293 - 0s - loss: 0.9636 - accuracy: 0.5862
Epoch 65/100
1293/1293 - 0s - loss: 0.9612 - accuracy: 0.5785
Epoch 66/100
1293/1293 - 0s - loss: 0.9680 - accuracy: 0.5916
Epoch 67/100
1293/1293 - 0s - loss: 0.9621 - accuracy: 0.5793
Epoch 68/100
1293/1293 - 0s - loss: 0.9574 - accuracy: 0.5986
Epoch 69/100
1293/1293 - 0s - loss: 0.9597 - accuracy: 0.5862
Epoch 70/100
1293/1293 - 0s - loss: 0.9710 - accuracy: 0.5677
Epoch 71/100
1293/1293 - 0s - loss: 0.9666 - accuracy: 0.5731
Epoch 72/100
1293/1293 - 0s - loss: 0.9625 - accuracy: 0.5800
Epoch 73/100
1293/1293 - 0s - loss: 0.9589 - accuracy: 0.5800
Epoch 74/100
1293/1293 - 0s - loss: 0.9565 - accuracy: 0.5816
Epoch 75/100
1293/1293 - 0s - loss: 0.9601 - accuracy: 0.5878
Epoch 76/100
1293/1293 - 0s - loss: 0.9595 - accuracy: 0.5808
Epoch 77/100
1293/1293 - 0s - loss: 0.9630 - accuracy: 0.5754
Epoch 78/100
1293/1293 - 0s - loss: 0.9561 - accuracy: 0.5793
Epoch 79/100
1293/1293 - 0s - loss: 0.9549 - accuracy: 0.5909
Epoch 80/100
1293/1293 - 0s - loss: 0.9532 - accuracy: 0.5878
Epoch 81/100
1293/1293 - 0s - loss: 0.9590 - accuracy: 0.5870
Epoch 82/100
1293/1293 - 0s - loss: 0.9551 - accuracy: 0.5824
Epoch 83/100
1293/1293 - 0s - loss: 0.9650 - accuracy: 0.5847
Epoch 84/100
1293/1293 - 0s - loss: 0.9547 - accuracy: 0.5940
Epoch 85/100
1293/1293 - 0s - loss: 0.9594 - accuracy: 0.5746
Epoch 86/100
1293/1293 - 0s - loss: 0.9540 - accuracy: 0.5893
Epoch 87/100
1293/1293 - 0s - loss: 0.9484 - accuracy: 0.5916
Epoch 88/100
1293/1293 - 0s - loss: 0.9536 - accuracy: 0.5947
Epoch 89/100
1293/1293 - 0s - loss: 0.9575 - accuracy: 0.5940
Epoch 90/100
1293/1293 - 0s - loss: 0.9506 - accuracy: 0.5893
Epoch 91/100
1293/1293 - 0s - loss: 0.9557 - accuracy: 0.5870
Epoch 92/100
1293/1293 - 0s - loss: 0.9569 - accuracy: 0.5816
Epoch 93/100
1293/1293 - 0s - loss: 0.9478 - accuracy: 0.5932
Epoch 94/100
1293/1293 - 0s - loss: 0.9479 - accuracy: 0.5878
Epoch 95/100
1293/1293 - 0s - loss: 0.9461 - accuracy: 0.5994
Epoch 96/100
1293/1293 - 0s - loss: 0.9584 - accuracy: 0.5723
Epoch 97/100
1293/1293 - 0s - loss: 0.9601 - accuracy: 0.5893
Epoch 98/100
1293/1293 - 0s - loss: 0.9486 - accuracy: 0.5855
Epoch 99/100
1293/1293 - 0s - loss: 0.9459 - accuracy: 0.5862
Epoch 100/100
1293/1293 - 0s - loss: 0.9471 - accuracy: 0.5940

## Quantify our Trained Model

In [37]:
model_loss, model_accuracy = deep_model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

432/432 - 0s - loss: 1.0460 - accuracy: 0.5509
Normal Neural Network - Loss: 1.0460260929884735, Accuracy: 0.5509259104728699

## Make Predictions

In [38]:
# Use the first 5 test data values to make a prediction and compare it to the actual labels
encoded_predictions = deep_model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: [Interval(449500.0, 614994.0, closed='right')
 Interval(124999.999, 349000.0, closed='right')
 Interval(124999.999, 349000.0, closed='right')
 Interval(835200.0, 4495000.0, closed='right')
 Interval(124999.999, 349000.0, closed='right')
 Interval(835200.0, 4495000.0, closed='right')
 Interval(124999.999, 349000.0, closed='right')
 Interval(449500.0, 614994.0, closed='right')
 Interval(349000.0, 449500.0, closed='right')
 Interval(614994.0, 835200.0, closed='right')]
Actual Labels: [Interval(349000.0, 449500.0, closed='right'), Interval(349000.0, 449500.0, closed='right'), Interval(124999.999, 349000.0, closed='right'), Interval(835200.0, 4495000.0, closed='right'), Interval(349000.0, 449500.0, closed='right'), Interval(614994.0, 835200.0, closed='right'), Interval(124999.999, 349000.0, closed='right'), Interval(449500.0, 614994.0, closed='right'), Interval(835200.0, 4495000.0, closed='right'), Interval(614994.0, 835200.0, closed='right')]