## Setup

In [1]:
# Import Dependencies.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import requests
import json

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.models import load_model
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from joblib import dump, load

In [2]:
# Fetch the data from the API.
listings_json = requests.get("http://127.0.0.1:5000/housingDataAPI/v1.0/listings").json()

# Examine the data.
print(json.dumps(listings_json[0], indent=4, sort_keys=True))

{
    "address": "17452 NE GLISAN ST #7, Portland OR 97230",
    "bathrooms": 2.0,
    "bedrooms": 2,
    "built": 1988,
    "city": "Portland",
    "county": "Multnomah",
    "elementary_school": "Hartley",
    "high_school": "Reynolds",
    "home_type": "Manufactured - Double Wide Manufact",
    "lot_size": null,
    "middle_school": "Reynolds",
    "neighborhood": "unknown",
    "price": 72000,
    "square_feet": 1152,
    "zipcode": 97230
}

In [3]:
# Create a dataframe to use for our model.
data_df = pd.DataFrame(listings_json)

print(len(data_df))
data_df.head()

2056

,address,bathrooms,bedrooms,built,city,county,elementary_school,high_school,home_type,lot_size,middle_school,neighborhood,price,square_feet,zipcode
0,"17452 NE GLISAN ST #7, Portland OR 97230",2.0,2,1988,Portland,Multnomah,Hartley,Reynolds,Manufactured - Double Wide Manufact,NaN,Reynolds,unknown,72000,1152,97230
1,"16000 SE POWELL BLVD 75, Portland OR 97236",2.0,3,1990,Portland,Multnomah,Powell Butte,Centennial,Manufactured - Double Wide Manufact,NaN,Centennial,unknown,79950,1404,97236
2,"12846 SE RAMONA ST 6, Portland OR 97236",2.0,3,1997,Portland,Multnomah,Gilbert Hts,David Douglas,Manufactured - Double Wide Manufact,NaN,Alice Ott,unknown,93900,1297,97236
3,"7720 S Macadam AVE 7, Portland OR 97219",3.0,3,1988,Portland,Multnomah,Other,Other,Floating Home - Contemporary,NaN,Other,unknown,125000,2432,97219
4,"19609 NE Marine DR E-4, Portland OR 97230",1.0,1,1960,Portland,Multnomah,Salish Pond,Reynolds,Floating Home - Cabin,NaN,Reynolds,unknown,129500,735,97230

## Data Preprocessing

In [4]:
# Make a copy of the original data frame to modify.
model_df = data_df

# Insert a lot value of 0 for condos and floating homes.
for index, row in model_df.iterrows():
    if ("Condo" in row["home_type"]) | ("Floating" in row["home_type"]):
        model_df.loc[index, "lot_size"] = 0
    else:
        pass

# Include only those columns that will be used in the deep learning model.
model_df = model_df.loc[:, ["bathrooms",
                            "bedrooms",
                            "built",
                            "lot_size",
                            "square_feet",
                            "home_type",
                            "high_school",
                            "zipcode",
                            "price"]
                       ]

# Drop rows with NaN entries.
model_df.dropna(inplace=True)

# Check the model data.
print(len(model_df))
model_df.head()

1947

,bathrooms,bedrooms,built,lot_size,square_feet,home_type,high_school,zipcode,price
3,3.0,3,1988,0.0,2432,Floating Home - Contemporary,Other,97219,125000
4,1.0,1,1960,0.0,735,Floating Home - Cabin,Reynolds,97230,129500
5,1.0,1,1974,0.0,720,Condo - Traditional,David Douglas,97236,141900
6,1.0,1,1927,0.0,382,Condo - Common Wall,Lincoln,97209,144900
7,1.0,1,2004,0.0,513,Condo - Other,David Douglas,97220,149900

In [5]:
# Simplify home types in model_df.
for i in model_df.index:
    if "Floating" in model_df.at[i, "home_type"]:
        model_df.at[i, "home_type"] = "Floating"
    if "Condo" in model_df.at[i, "home_type"]:
        model_df.at[i, "home_type"] = "Condo"
    if "Single Family" in model_df.at[i, "home_type"]:
        model_df.at[i, "home_type"] = "Single Family"
    if "Manufactured" in model_df.at[i, "home_type"]:
        model_df.at[i, "home_type"] = "Manufactured"
    
model_df.head()

,bathrooms,bedrooms,built,lot_size,square_feet,home_type,high_school,zipcode,price
3,3.0,3,1988,0.0,2432,Floating,Other,97219,125000
4,1.0,1,1960,0.0,735,Floating,Reynolds,97230,129500
5,1.0,1,1974,0.0,720,Condo,David Douglas,97236,141900
6,1.0,1,1927,0.0,382,Condo,Lincoln,97209,144900
7,1.0,1,2004,0.0,513,Condo,David Douglas,97220,149900

In [6]:
# Create district df.
school_dict = ({"high_school" : ['Reynolds', 'Parkrose', 'David Douglas', 'Centennial', 'Cleveland',
        'Lincoln', 'Madison', 'Jefferson', 'Roosevelt', 'Sunset','Westview', 'Liberty', 'Beaverton', 
        'Grant', 'Southridge', 'Tigard', 'Wilson', 'Riverdale', 'Lake Oswego', 'Franklin',
        'Tualatin', 'Milwaukie', 'Scappoose'], "district" : ['Reynolds', 'Parkrose','David Douglas',
        'Centennial', 'Portland Public', 'Portland Public', 'Portland Public', 'Portland Public',
        'Portland Public', 'Beaverton', 'Beaverton', 'Hillsboro', 'Beaverton', 'Portland Public',
        'Beaverton', 'Tigard-Tualatin', 'Portland Public', 'Riverdale', 'Lake Oswego', 'Portland Public',
        'Tigard-Tualatin', 'North Clackamas', 'Scappose']})
district_df = pd.DataFrame(school_dict)

# Merge into model_df.
model_df = pd.merge(model_df, district_df, on="high_school")

# Drop the high_school column.
model_df.drop("high_school", axis=1, inplace=True)
print(len(model_df))
model_df.head()

1943

,bathrooms,bedrooms,built,lot_size,square_feet,home_type,zipcode,price,district
0,1.0,1,1960,0.0,735,Floating,97230,129500,Reynolds
1,2.0,2,1979,0.0,1073,Condo,97230,160000,Reynolds
2,3.0,2,2006,0.0,1020,Condo,97233,211000,Reynolds
3,2.0,3,1945,0.0,1150,Floating,97230,224500,Reynolds
4,2.0,2,1973,0.0,1638,Condo,97230,229900,Reynolds

In [7]:
# Rank the home_types in order of mean home price.
# home_type = model_df[["price","home_type"]]
# home_typeAVG = home_type.groupby(["home_type"]).mean().sort_values(by=["price"], ascending=False)
# home_typeRanker = home_typeAVG.reset_index(drop=False)

# Create a dictionary to rank the zipcode for a particular listing.
# home_type_ranker_dict = {}
# for index, row in home_typeRanker.iterrows():
#     home_type_ranker_dict[row["home_type"]] = index
# home_type_ranker_dict

In [8]:
# Create a home_type ranking for each listing.
# model_df["home_type_rank"] = [home_type_ranker_dict[home_type] for home_type in model_df["home_type"]]
# Drop the home_type for each listing.
# model_df.drop("home_type", axis=1, inplace=True)
# model_df.head()

In [9]:
# Rank the districts in order of mean home price.
# district = model_df[["price","district"]]
# districtAVG = district.groupby(["district"]).mean().sort_values(by=["price"], ascending=False)
# districtRanker = districtAVG.reset_index(drop=False)

# Create a dictionary to rank the district for a particular listing.
# district_ranker_dict = {}
# for index, row in districtRanker.iterrows():
#     district_ranker_dict[row["district"]] = index
# district_ranker_dict

In [10]:
# Create a district ranking for each listing.
# model_df["district_rank"] = [district_ranker_dict[district] for district in model_df["district"]]
# Drop the district for each listing.
# model_df.drop("district", axis=1, inplace=True)
# model_df.head()

In [11]:
# Rank the zipcodes in order of mean home price.
# zipcode = model_df[["price","zipcode"]]
# zipcodeAVG = zipcode.groupby(["zipcode"]).mean().sort_values(by=["price"], ascending=False)
# zipcodeRanker = zipcodeAVG.reset_index(drop=False)

# Create a dictionary to rank the zipcode for a particular listing.
# zipcode_ranker_dict = {}
# for index, row in zipcodeRanker.iterrows():
#     zipcode_ranker_dict[int(row["zipcode"])] = index
# zipcode_ranker_dict

In [12]:
# Create a zipcode ranking for each listing.
# model_df["zipcode_rank"] = [zipcode_ranker_dict[zipcode] for zipcode in model_df["zipcode"]]
# Drop the zipcode for each listing.
# model_df.drop("zipcode", axis=1, inplace=True)
# model_df.head()

In [13]:
# Bin prices into ten equal length ranges.
model_df["price_range"] = pd.qcut(model_df["price"], 5)
# Drop the original price data.
model_df.drop("price", axis=1, inplace=True)
model_df.head()

,bathrooms,bedrooms,built,lot_size,square_feet,home_type,zipcode,district,price_range
0,1.0,1,1960,0.0,735,Floating,97230,Reynolds,"(123499.999, 348340.0]"
1,2.0,2,1979,0.0,1073,Condo,97230,Reynolds,"(123499.999, 348340.0]"
2,3.0,2,2006,0.0,1020,Condo,97233,Reynolds,"(123499.999, 348340.0]"
3,2.0,3,1945,0.0,1150,Floating,97230,Reynolds,"(123499.999, 348340.0]"
4,2.0,2,1973,0.0,1638,Condo,97230,Reynolds,"(123499.999, 348340.0]"

In [14]:
# Get dummies for the values in home_type to use in the model.
model_df = pd.get_dummies(model_df, columns=["home_type", "district", "zipcode"])
model_df.head()

,bathrooms,bedrooms,built,lot_size,square_feet,price_range,home_type_Condo,home_type_Floating,home_type_Manufactured,home_type_Single Family,...,zipcode_97225,zipcode_97227,zipcode_97229,zipcode_97230,zipcode_97231,zipcode_97232,zipcode_97233,zipcode_97236,zipcode_97239,zipcode_97266
0,1.0,1,1960,0.0,735,"(123499.999, 348340.0]",0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2.0,2,1979,0.0,1073,"(123499.999, 348340.0]",1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3.0,2,2006,0.0,1020,"(123499.999, 348340.0]",1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2.0,3,1945,0.0,1150,"(123499.999, 348340.0]",0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2.0,2,1973,0.0,1638,"(123499.999, 348340.0]",1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [15]:
# Assign X (input) and y (target).

X = model_df.drop("price_range", axis=1)
y = model_df["price_range"]

In [16]:
# Split the data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Create a MinMaxScaler model and fit it to the training data

X_scaler = MinMaxScaler().fit(X_train)

# Save the scalar.
dump(X_scaler, 'minmax_scaler.bin', compress=True)

['minmax_scaler.bin']

In [18]:
# Transform the training and testing data using the X_scaler and y_scaler models.

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Label encode the target data.
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Save the label encoder
dump(label_encoder, 'label_encoder.bin', compress=True)

['label_encoder.bin']

In [20]:
# Convert encoded labels to one-hot encoding.
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

## Run Random Forest Classifier

In [21]:
# Create a random forest classifier, fit to the training data, and score on the testing data.
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_scaled, y_train_categorical)
print(rf.score(X_test_scaled, y_test_categorical))

# Find the importances of each feature.
feature_names = X.columns
importances = rf.feature_importances_
print(sorted(zip(rf.feature_importances_, feature_names), reverse=True))

0.5781893004115226
[(0.3046754476588913, 'square_feet'), (0.15088801072726457, 'built'), (0.09196615920818725, 'bathrooms'), (0.08959423557434124, 'lot_size'), (0.07280445893047481, 'bedrooms'), (0.019808396933948674, 'district_Portland Public'), (0.016065141031693878, 'zipcode_97209'), (0.013911034826167129, 'home_type_Condo'), (0.013482537882139902, 'home_type_Single Family'), (0.013260639409036564, 'zipcode_97266'), (0.012228248471966246, 'zipcode_97229'), (0.012152637294390206, 'zipcode_97217'), (0.010909748466878866, 'zipcode_97219'), (0.010873321842752234, 'zipcode_97206'), (0.00992136013629505, 'district_Beaverton'), (0.009887420453710107, 'zipcode_97202'), (0.009772641439158836, 'zipcode_97211'), (0.00940716062689828, 'zipcode_97201'), (0.009398411366984076, 'district_David Douglas'), (0.008614364269599478, 'zipcode_97239'), (0.007814123598719335, 'zipcode_97210'), (0.006918374973591857, 'zipcode_97203'), (0.006339518520487706, 'zipcode_97213'), (0.006279875064639119, 'zipcode_97212'), (0.00588732326629651, 'zipcode_97236'), (0.005488864557047474, 'zipcode_97220'), (0.005439606437823878, 'zipcode_97218'), (0.0054104528377238725, 'zipcode_97230'), (0.005274693854471903, 'district_Reynolds'), (0.005139129878198224, 'zipcode_97225'), (0.004684452812760069, 'zipcode_97215'), (0.003950007641588349, 'district_Parkrose'), (0.0038418301217310797, 'zipcode_97214'), (0.0038280690876270397, 'zipcode_97216'), (0.0036326454159030376, 'district_Centennial'), (0.003444138968906182, 'district_Riverdale'), (0.0033640910750993396, 'zipcode_97221'), (0.003308857276126491, 'zipcode_97233'), (0.0032255236908163747, 'home_type_Floating'), (0.0028727006547754935, 'zipcode_97232'), (0.0024685779205101937, 'zipcode_97205'), (0.002282131686371911, 'zipcode_97223'), (0.002020062096894565, 'zipcode_97231'), (0.0013781130777083066, 'zipcode_97227'), (0.0010455168886268902, 'district_Hillsboro'), (0.00103223501414612, 'district_Tigard-Tualatin'), (0.0007448355032264584, 'zipcode_97224'), (0.0006920754308876804, 'zipcode_97204'), (0.000655018662140349, 'district_Scappose'), (0.0005375218856559248, 'zipcode_97035'), (0.0004308717314274441, 'district_Lake Oswego'), (0.0003782190002464377, 'district_North Clackamas'), (0.0002863958245719238, 'zipcode_97222'), (0.0002827689924737145, 'home_type_Manufactured')]

## Create a Deep Learning Model

In [22]:
# Create a deep learning Sequential model.
deep_model = Sequential()
deep_model.add(Dense(units=100, activation='relu', input_dim=54))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=5, activation='softmax'))

In [23]:
# Compile and fit the model.
deep_model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 1457 samples
Epoch 1/100
1457/1457 - 1s - loss: 1.5395 - accuracy: 0.3397
Epoch 2/100
1457/1457 - 1s - loss: 1.3539 - accuracy: 0.4248
Epoch 3/100
1457/1457 - 0s - loss: 1.1408 - accuracy: 0.5182
Epoch 4/100
1457/1457 - 0s - loss: 0.9932 - accuracy: 0.5765
Epoch 5/100
1457/1457 - 0s - loss: 0.9168 - accuracy: 0.6129
Epoch 6/100
1457/1457 - 0s - loss: 0.8731 - accuracy: 0.6404
Epoch 7/100
1457/1457 - 0s - loss: 0.8420 - accuracy: 0.6424
Epoch 8/100
1457/1457 - 0s - loss: 0.8266 - accuracy: 0.6548
Epoch 9/100
1457/1457 - 0s - loss: 0.7991 - accuracy: 0.6685
Epoch 10/100
1457/1457 - 0s - loss: 0.7893 - accuracy: 0.6623
Epoch 11/100
1457/1457 - 0s - loss: 0.7763 - accuracy: 0.6815
Epoch 12/100
1457/1457 - 0s - loss: 0.7735 - accuracy: 0.6726
Epoch 13/100
1457/1457 - 0s - loss: 0.7732 - accuracy: 0.6788
Epoch 14/100
1457/1457 - 0s - loss: 0.7581 - accuracy: 0.6822
Epoch 15/100
1457/1457 - 0s - loss: 0.7438 - accuracy: 0.6973
Epoch 16/100
1457/1457 - 0s - loss: 0.7371 - accuracy: 0.6891
Epoch 17/100
1457/1457 - 0s - loss: 0.7288 - accuracy: 0.6980
Epoch 18/100
1457/1457 - 0s - loss: 0.7208 - accuracy: 0.7001
Epoch 19/100
1457/1457 - 0s - loss: 0.7162 - accuracy: 0.7056
Epoch 20/100
1457/1457 - 0s - loss: 0.7159 - accuracy: 0.7076
Epoch 21/100
1457/1457 - 0s - loss: 0.7022 - accuracy: 0.7117
Epoch 22/100
1457/1457 - 0s - loss: 0.6949 - accuracy: 0.7076
Epoch 23/100
1457/1457 - 0s - loss: 0.7045 - accuracy: 0.7062
Epoch 24/100
1457/1457 - 0s - loss: 0.7008 - accuracy: 0.7131
Epoch 25/100
1457/1457 - 0s - loss: 0.6979 - accuracy: 0.7193
Epoch 26/100
1457/1457 - 0s - loss: 0.6807 - accuracy: 0.7159
Epoch 27/100
1457/1457 - 0s - loss: 0.6811 - accuracy: 0.7117
Epoch 28/100
1457/1457 - 0s - loss: 0.6728 - accuracy: 0.7165
Epoch 29/100
1457/1457 - 0s - loss: 0.6730 - accuracy: 0.7248
Epoch 30/100
1457/1457 - 0s - loss: 0.6736 - accuracy: 0.7117
Epoch 31/100
1457/1457 - 0s - loss: 0.6764 - accuracy: 0.7186
Epoch 32/100
1457/1457 - 0s - loss: 0.6697 - accuracy: 0.7227
Epoch 33/100
1457/1457 - 0s - loss: 0.6680 - accuracy: 0.7138
Epoch 34/100
1457/1457 - 0s - loss: 0.6605 - accuracy: 0.7268
Epoch 35/100
1457/1457 - 0s - loss: 0.6510 - accuracy: 0.7275
Epoch 36/100
1457/1457 - 0s - loss: 0.6515 - accuracy: 0.7207
Epoch 37/100
1457/1457 - 0s - loss: 0.6412 - accuracy: 0.7261
Epoch 38/100
1457/1457 - 0s - loss: 0.6513 - accuracy: 0.7213
Epoch 39/100
1457/1457 - 0s - loss: 0.6382 - accuracy: 0.7344
Epoch 40/100
1457/1457 - 0s - loss: 0.6392 - accuracy: 0.7282
Epoch 41/100
1457/1457 - 0s - loss: 0.6410 - accuracy: 0.7323
Epoch 42/100
1457/1457 - 0s - loss: 0.6331 - accuracy: 0.7296
Epoch 43/100
1457/1457 - 0s - loss: 0.6273 - accuracy: 0.7364
Epoch 44/100
1457/1457 - 0s - loss: 0.6308 - accuracy: 0.7371
Epoch 45/100
1457/1457 - 0s - loss: 0.6233 - accuracy: 0.7323
Epoch 46/100
1457/1457 - 0s - loss: 0.6325 - accuracy: 0.7248
Epoch 47/100
1457/1457 - 0s - loss: 0.6215 - accuracy: 0.7364
Epoch 48/100
1457/1457 - 0s - loss: 0.6151 - accuracy: 0.7385
Epoch 49/100
1457/1457 - 0s - loss: 0.6161 - accuracy: 0.7399
Epoch 50/100
1457/1457 - 0s - loss: 0.6089 - accuracy: 0.7447
Epoch 51/100
1457/1457 - 0s - loss: 0.6140 - accuracy: 0.7412
Epoch 52/100
1457/1457 - 0s - loss: 0.5991 - accuracy: 0.7461
Epoch 53/100
1457/1457 - 0s - loss: 0.6066 - accuracy: 0.7447
Epoch 54/100
1457/1457 - 0s - loss: 0.6172 - accuracy: 0.7310
Epoch 55/100
1457/1457 - 0s - loss: 0.6070 - accuracy: 0.7255
Epoch 56/100
1457/1457 - 0s - loss: 0.5938 - accuracy: 0.7495
Epoch 57/100
1457/1457 - 0s - loss: 0.6036 - accuracy: 0.7419
Epoch 58/100
1457/1457 - 0s - loss: 0.6188 - accuracy: 0.7378
Epoch 59/100
1457/1457 - 0s - loss: 0.5998 - accuracy: 0.7371
Epoch 60/100
1457/1457 - 0s - loss: 0.5852 - accuracy: 0.7467
Epoch 61/100
1457/1457 - 0s - loss: 0.5920 - accuracy: 0.7495
Epoch 62/100
1457/1457 - 0s - loss: 0.5821 - accuracy: 0.7515
Epoch 63/100
1457/1457 - 0s - loss: 0.5875 - accuracy: 0.7474
Epoch 64/100
1457/1457 - 0s - loss: 0.5833 - accuracy: 0.7502
Epoch 65/100
1457/1457 - 0s - loss: 0.5887 - accuracy: 0.7433
Epoch 66/100
1457/1457 - 0s - loss: 0.5774 - accuracy: 0.7584
Epoch 67/100
1457/1457 - 0s - loss: 0.5780 - accuracy: 0.7488
Epoch 68/100
1457/1457 - 0s - loss: 0.5708 - accuracy: 0.7612
Epoch 69/100
1457/1457 - 0s - loss: 0.5717 - accuracy: 0.7550
Epoch 70/100
1457/1457 - 0s - loss: 0.5722 - accuracy: 0.7550
Epoch 71/100
1457/1457 - 0s - loss: 0.5691 - accuracy: 0.7509
Epoch 72/100
1457/1457 - 0s - loss: 0.5735 - accuracy: 0.7495
Epoch 73/100
1457/1457 - 0s - loss: 0.5661 - accuracy: 0.7563
Epoch 74/100
1457/1457 - 0s - loss: 0.5627 - accuracy: 0.7577
Epoch 75/100
1457/1457 - 0s - loss: 0.5693 - accuracy: 0.7474
Epoch 76/100
1457/1457 - 0s - loss: 0.5626 - accuracy: 0.7618
Epoch 77/100
1457/1457 - 0s - loss: 0.5581 - accuracy: 0.7666
Epoch 78/100
1457/1457 - 0s - loss: 0.5624 - accuracy: 0.7529
Epoch 79/100
1457/1457 - 0s - loss: 0.5589 - accuracy: 0.7570
Epoch 80/100
1457/1457 - 0s - loss: 0.5624 - accuracy: 0.7598
Epoch 81/100
1457/1457 - 0s - loss: 0.5619 - accuracy: 0.7591
Epoch 82/100
1457/1457 - 0s - loss: 0.5602 - accuracy: 0.7618
Epoch 83/100
1457/1457 - 0s - loss: 0.5461 - accuracy: 0.7612
Epoch 84/100
1457/1457 - 0s - loss: 0.5570 - accuracy: 0.7543
Epoch 85/100
1457/1457 - 0s - loss: 0.5461 - accuracy: 0.7557
Epoch 86/100
1457/1457 - 0s - loss: 0.5474 - accuracy: 0.7632
Epoch 87/100
1457/1457 - 0s - loss: 0.5367 - accuracy: 0.7680
Epoch 88/100
1457/1457 - 0s - loss: 0.5397 - accuracy: 0.7618
Epoch 89/100
1457/1457 - 0s - loss: 0.5430 - accuracy: 0.7618
Epoch 90/100
1457/1457 - 0s - loss: 0.5352 - accuracy: 0.7680
Epoch 91/100
1457/1457 - 0s - loss: 0.5347 - accuracy: 0.7749
Epoch 92/100
1457/1457 - 0s - loss: 0.5310 - accuracy: 0.7653
Epoch 93/100
1457/1457 - 0s - loss: 0.5263 - accuracy: 0.7756
Epoch 94/100
1457/1457 - 0s - loss: 0.5318 - accuracy: 0.7714
Epoch 95/100
1457/1457 - 0s - loss: 0.5370 - accuracy: 0.7632
Epoch 96/100
1457/1457 - 0s - loss: 0.5325 - accuracy: 0.7728
Epoch 97/100
1457/1457 - 0s - loss: 0.5316 - accuracy: 0.7639
Epoch 98/100
1457/1457 - 0s - loss: 0.5285 - accuracy: 0.7625
Epoch 99/100
1457/1457 - 0s - loss: 0.5281 - accuracy: 0.7811
Epoch 100/100
1457/1457 - 0s - loss: 0.5209 - accuracy: 0.7804

## Quantify our Trained Model

In [24]:
model_loss, model_accuracy = deep_model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

486/486 - 0s - loss: 0.9118 - accuracy: 0.6790
Loss: 0.9117748244309131, Accuracy: 0.6790123581886292

## Make Predictions

In [25]:
# Use the first 10 test data values to make a prediction and compare it to the actual labels.
encoded_predictions = deep_model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: [Interval(348340.0, 449000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')
 Interval(123499.999, 348340.0, closed='right')
 Interval(348340.0, 449000.0, closed='right')
 Interval(825000.0, 4495000.0, closed='right')
 Interval(609000.0, 825000.0, closed='right')
 Interval(609000.0, 825000.0, closed='right')
 Interval(825000.0, 4495000.0, closed='right')
 Interval(449000.0, 609000.0, closed='right')]
Actual Labels: [Interval(123499.999, 348340.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(348340.0, 449000.0, closed='right'), Interval(123499.999, 348340.0, closed='right'), Interval(449000.0, 609000.0, closed='right'), Interval(825000.0, 4495000.0, closed='right'), Interval(609000.0, 825000.0, closed='right'), Interval(825000.0, 4495000.0, closed='right'), Interval(825000.0, 4495000.0, closed='right'), Interval(449000.0, 609000.0, closed='right')]

## Save the trained model

In [26]:
# Save the model
deep_model.save("housing_model_trained.h5")

## Test the saved model, scaler, and label encoder

In [27]:
# Load the model, scaler and label encoder.
model = load_model("housing_model_trained.h5")
scaler = load("minmax_scaler.bin")
label_encoder = load("label_encoder.bin")

In [31]:
# Input data for testing.
input_data = np.array(np.array([X.iloc[0]]))
input_data

array([[1.00e+00, 1.00e+00, 1.96e+03, 0.00e+00, 7.35e+02, 0.00e+00,
        1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00,
        0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00]])

In [29]:
X.iloc[0]

bathrooms                      1.0
bedrooms                       1.0
built                       1960.0
lot_size                       0.0
square_feet                  735.0
home_type_Condo                0.0
home_type_Floating             1.0
home_type_Manufactured         0.0
home_type_Single Family        0.0
district_Beaverton             0.0
district_Centennial            0.0
district_David Douglas         0.0
district_Hillsboro             0.0
district_Lake Oswego           0.0
district_North Clackamas       0.0
district_Parkrose              0.0
district_Portland Public       0.0
district_Reynolds              1.0
district_Riverdale             0.0
district_Scappose              0.0
district_Tigard-Tualatin       0.0
zipcode_97035                  0.0
zipcode_97201                  0.0
zipcode_97202                  0.0
zipcode_97203                  0.0
zipcode_97204                  0.0
zipcode_97205                  0.0
zipcode_97206                  0.0
zipcode_97209                  0.0
zipcode_97210                  0.0
zipcode_97211                  0.0
zipcode_97212                  0.0
zipcode_97213                  0.0
zipcode_97214                  0.0
zipcode_97215                  0.0
zipcode_97216                  0.0
zipcode_97217                  0.0
zipcode_97218                  0.0
zipcode_97219                  0.0
zipcode_97220                  0.0
zipcode_97221                  0.0
zipcode_97222                  0.0
zipcode_97223                  0.0
zipcode_97224                  0.0
zipcode_97225                  0.0
zipcode_97227                  0.0
zipcode_97229                  0.0
zipcode_97230                  1.0
zipcode_97231                  0.0
zipcode_97232                  0.0
zipcode_97233                  0.0
zipcode_97236                  0.0
zipcode_97239                  0.0
zipcode_97266                  0.0
Name: 0, dtype: float64

In [30]:
encoded_predictions = model.predict_classes(scaler.transform(input_data))
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"{prediction_labels[0].left}, {prediction_labels[0].right}")

123499.999, 348340.0